html {
  text-align: center;
  font-family: Helvetica;
}

#home {
  background-image: url("../images/the-flatiron-building.png")
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
  background-color: transparent;
}

h1 nav {
  font-size: 18px;
  color: white;
  background-color: transparent;
}

#process {
  font-size: 32px;
  font-weight: bold;
}

#designed {
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url("../images/the-flatiron-building.png")
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

a {
  color: white;
}

footer {
  font-size: 11px;
  color: white;
  width: 100%;

}

footer p {
  background-color: dimgray;
  float: left;
  padding-right: 3px;
}
