html {
  text-align: center;
  font-family: Helvetica;
}

#home {
  background-image: url("./resources/images/the-flatiron-building.png")
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
  background-color: transparent;
}

h1 nav {
  font-size: 18px;
  color: white;
  background-color: transparent;
}

h2#process {
  font-size: 32px;
  font-weight: bold;
}

h2#designed {
  font-size: 23px;
  font-weight: bold;
  color: white;
  ackground-image: url("./resources/images/the-flatiron-building.png")
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

footer {
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
  width: 100%;
}

a {
  color: white;
}

footer p {
  width: 5%;
  float: left;
}

footer nav {
  float: left;
  width: 84%;
}
